.ImageP{
    width: 200px;
    height: 200px;
}
.Plantes{
    display: flex;
    flex-direction: row;
    
}
.ImageName{
    display:flex ;
    margin-left:20px;
    flex-direction: column;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }